@import './../../styles/variables.scss';
.button-border {
  border: 2px solid $swatch_3;
}
.button {
  position: relative;
  display: inline-block;
  height: auto;
  overflow: hidden;
  border-radius: 14px;
  text-align: center;
  padding: 20px 30px;
  font-weight: 600;
  z-index: 1;
}
.button span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}
.button:hover {
  color: #eee;
}
.button:hover span {
  width: 400%;
  height: 562.5px;
}
.button:active {
  background-color: $swatch_3;
}

.button-primary span {
  color: #fff;
  background-color: $swatch_3;
}
