@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap&subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif&display=swap&subset=cyrillic);

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: Quicksand, sans-serif;
}
